article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html body {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif;
    font-family: 'K2D', sans-serif;
}

.ico{
    width:30px;
    display:block;
    height:20px;
    background:transparent;
    color:white;
    text-decoration:none;
    padding-left:20px;
}
.ico:before{
    content: '';
    background:url('https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-20px;
}

.edit {
    width:30px;
    display:block;
    height:20px;
    background:transparent;
    color:white;
    text-decoration:none;
    padding-left:20px;
}
.edit:before{
    content: '';
    background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-dGksUS6InXjPb4Rbgts9g5ATz0E3XmTXwspIX1r04FwRC_ymOQ');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-20px;
}

.delete2 {
    width:30px;
    display:block;
    height:20px;
    background:transparent;
    color:white;
    text-decoration:none;
    padding-left:20px;
}
.delete2:before{
    content: '';
    background:url('https://image.flaticon.com/icons/png/512/0/39.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-20px;
}